<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-6 d-none d-lg-block bg-password-image">
            <img src="https://images.unsplash.com/photo-1525268771113-32d9e9021a97?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Register Image" class="img-fluid">
          </div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <% if (validation_error !== undefined && validation_error.length > 0 || locals.success_message != undefined || locals.login_error != undefined) { %>
                <%- include('./partials/_message')  %>
                <% } %>
                <h1 class="h4 text-gray-900 mb-2">New Password</h1>
                <p class="mb-4">Please, create your new password</p>
              </div>
              <form class="user" action="/reset-password" method="post">
                <input type="hidden" name="id" value="<%= typeof id != 'undefined' ? id:''  %>">
                <input type="hidden" name="token" value="<%= typeof token != 'undefined' ? token:''  %>">
                <div class="form-group">
                  <input type="password" name="password" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Your Password...">
                </div>
                <div class="form-group">
                  <input type="password" name="repeatPassword" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Your Password Again...">
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Update Password
                </button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="/register">Create an Account!</a>
              </div>
              <div class="text-center">
                <a class="small" href="/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>