<div class="container rounded bg-white ">
  <form action="/admin/update-profile" method="post" enctype="multipart/form-data">
    <div class="d-flex align-items-start py-3 border-bottom">
      <img src="/uploads/avatars/<%- user.avatar  %>" class="img" alt="" height="300" width="300">
      <div class="pl-sm-4 pl-2" id="img-section">
        <b>Profile Photo</b>
        <p>Accepted file type .png. Less than 1MB</p>
        <input name="avatar" type="file" class="btn button border"></input>
      </div>
    </div>
    <div class="py-2 mb-4">
      <div class="row py-2">
        <div class="col-md-6">
          <label for="firstname">First Name</label>
          <input type="text" name="firstName" value="<%- user.firstName  %>" class="bg-light form-control" placeholder="Steve">
        </div>
        <div class="col-md-6 pt-md-0 pt-3">
          <label for="lastname">Last Name</label>
          <input type="text" name="lastName" value="<%- user.lastName  %>" class="bg-light form-control" placeholder="Smith">
        </div>
      </div>
      <div class="row py-2">
        <div class="col-md-6">
          <label for="email">Email Address</label>
          <input type="text" readonly name="email" value="<%- user.email  %>" class="bg-light form-control" placeholder="steve_@email.com">
        </div>
      </div>
      <div class="py-3 pb-4  ">
        <button type="submit" class="btn btn-primary mr-3">Save Changes</button>
        <button class="btn border button">Cancel</button>
      </div>
    </div>
  </form>
</div>