<%- include('../partials/_header') %>

<div class="block"></div>

<div class="columns is-multiline">
  <% articles.forEach(article=> { %>

  <div class="column is-4">
    <%- include('../partials/_article_card', { article: article , isDetailPage: false }) %>
  </div>
  <% }) %>
</div>