<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <span class="title is-3">My Blog Site</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <form action="/blog" method="post">
          <div class="field has-addons">
            <div class="control">
              <input class="input is-info" type="text" name="search" placeholder="Username search...">
            </div>
            <div class="control">
              <button class="button is-info" type="submit">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>